@model List<Appointment>
<table class="table">
    <thead>
        <tr>
            <th scope="col">No</th>

            <th scope="col">Email</th>
            <th scope="col">Property</th>
            <th scope="col">Appointment Date</th>
            <th scope="col">Slot</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var e in Model)
        {

            <tr>
                <th scope="row">@e.AppointmentId</th>
                <td>@e.User.Email</td>
                <td>@e.Property.Title</td>
                <td>@e.AppointmentDate</td>
                <td>@e.slot</td>
                <td>@e.Status</td>

                <td>
                    <a asp-action="confirm" asp-controller="appointment" asp-route-id="@e.AppointmentId">Approve</a>
                    <a asp-action="reject" asp-controller="appointment" asp-route-id="@e.AppointmentId">Reject</a>
                </td>

            </tr>

        }

    </tbody>
</table>